#This file is uded to instal the required packages to run the web server

#for ubuntu
  #Check if there i apache installed
  #usage: dpkg -l | grep apache
  
  #check if php is installed
  #usage: dpkg -l | grep php
  
  #install phpMyAdmin
  #usage: apt-get install php phpmyadmin
  
#for CentOS and RHEL:
  #check if apache is installed
  #usage: rpm -qa | grep httpd
  
  #check if php is installed
  #usage: rpm -qa | grep php
  
  #install phpMyAdmin
  #usage: yum install phpmyadmin
